<div id="<%= dom_id tenant %>">
  <p>
    <strong>Name:</strong>
    <%= tenant.name %>
  </p>

  <p>
    <strong>Nid:</strong>
    <%= tenant.nid %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tenant.email %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= tenant.mobile %>
  </p>

  <p>
    <strong>Peraddrline1:</strong>
    <%= tenant.peraddrline1 %>
  </p>

  <p>
    <strong>Peraddrline2:</strong>
    <%= tenant.peraddrline2 %>
  </p>

  <p>
    <strong>Peraddrline3:</strong>
    <%= tenant.peraddrline3 %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= tenant.zipcode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= tenant.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= tenant.country %>
  </p>

  <p>
    <strong>Entrydate:</strong>
    <%= tenant.entrydate %>
  </p>

  <p>
    <strong>Exitdate:</strong>
    <%= tenant.exitdate %>
  </p>

  <p>
    <strong>Rentpermonth:</strong>
    <%= tenant.rentpermonth %>
  </p>

  <p>
    <strong>Advancepaid:</strong>
    <%= tenant.advancepaid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tenant.status %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= tenant.property.name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= tenant.unit.name %>
  </p>

</div>
