<div style="border: 1px solid #ddd; border-radius: 5px;">

  <table width="100%" style="margin: 10px;">
    <tbody>
      <tr>
        <th colspan="2" style="text-align: left;font-family: arial; font-size: 22px; padding-bottom" 20px;">
          <span class="font-weight-bold">Rent Details</span><br>
          <small>INV-<%= (@rent.present? ? ("%.3i" %(@rent.id + 1)) : "%.3i" %(1)) %></small>
          </div>
        </th>
      </tr>
    </tbody>
  </table>

  <hr  style="height:1px;border-width:0;color:gray;background-color:#ddd">

  <table width="100%" style="margin: 10px;">
    <tbody>
      <tr>
        <td style="padding-top: 10px; padding-bottom: 10px; font-size: 20px; font-family: arial; text-align: left; width: 65%;">
            <%= @rent.tenant.name %>
            <br>
            <%= @rent.tenant.unit.name %>,
            <br>
            <%= @rent.tenant.property.name %>, <%= @rent.tenant.property.addrline1 %>
            <br>
            <%= @rent.tenant.property.addrline2 %>, <%= @rent.tenant.property.city %>
            <br>
            <%= @rent.tenant.mobile %>
        </td>

        <td style="padding-top: 10px; padding-bottom: 10px; font-size: 20px; font-family: arial; text-align: left; width: 30%;">
            Rent Month: <strong><%= @rent.rentmonth.strftime("%b %Y") %></strong>
            <br>
            Due Date: <strong><%= @rent.duedate.strftime("%b %d, %Y")  %></strong>
            <br>
            Payment Date: <strong><%= @rent.paymentdate.strftime("%b %d, %Y")  %></strong>
            <br>
            Status: <strong><%= @rent.status == 'paid' ? 'Paid' : 'Due' %></strong>
        </td>
      </tr>
    </tbody>
  </table>

  <hr style="height:1px;border-width:0;color:gray;background-color:#ddd">

  <table style="width: 98%; margin-left: 10px; margin-right: 10px;" border="0">
    <thead>
        <tr>
          <th width="80%" style="padding: 6px; font-size: 20px; font-family: arial; text-align: left">Description</th>
          <th width="20%" style="padding: 10px; font-size: 20px; font-family: arial; text-align: left">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr class="content" style="background-color:#efefef">
            <td width="80%" style="padding: 8px; font-size: 20px; font-family: arial"><strong><%= 'Rent' %></strong></td>
            <td width="20%" style="padding: 8px; font-size: 20px; font-family: arial"><%= number_to_currency(@rent.rent, unit: 'BDT. ') %></td>
        </tr>
        <tr class="content">
            <td width="80%" style="padding: 8px; font-size: 20px; font-family: arial"><strong><%= 'Gass Bill' %></strong></td>
            <td width="20%" style="padding: 8px; font-size: 20px; font-family: arial" style="padding: 8px; font-size: 20px; font-family: arial"><%= number_to_currency(@rent.gassbill, unit: 'BDT. ') %></td>
        </tr>
        <tr class="content" style="background-color:#efefef">
            <td width="80%" style="padding: 8px; font-size: 20px; font-family: arial"><strong><%= 'Light Bill' %></strong></td>
            <td width="20%" style="padding: 8px; font-size: 20px; font-family: arial"><%= number_to_currency(@rent.lightbill, unit: 'BDT. ') %></td>
        </tr>
        <tr class="content">
            <td width="80%" style="padding: 8px; font-size: 20px; font-family: arial"><strong><%= 'Water Bill' %></strong></td>
            <td width="20%" style="padding: 8px; font-size: 20px; font-family: arial"><%= number_to_currency(@rent.waterbill, unit: 'BDT. ') %></td>
        </tr>
        <tr class="content" style="background-color:#efefef">
            <td width="80%" style="padding: 8px; font-size: 20px; font-family: arial"><strong><%= 'Service Charge' %></strong></td>
            <td width="20%" style="padding: 8px; font-size: 20px; font-family: arial"><%= number_to_currency(@rent.servicecharge, unit: 'BDT. ') %></td>
        </tr>
        <tr class="content">
            <td width="80%" style="padding: 8px; font-size: 20px; font-family: arial"><strong><%= 'Other Charge' %></strong></td>
            <td width="20%" style="padding: 8px; font-size: 20px; font-family: arial"><%= number_to_currency(@rent.othercharges, unit: 'BDT. ') %></td>
        </tr>
    </tbody>
  </table>

  <hr style="height:1px;border-width:0;color:gray;background-color:#ddd">

  <table width="100%">
    <tbody>
        <tr class="add">
          <td width="80%" style="padding: 5px 20px 5px 20px; font-size: 20px; font-family: arial"><strong>Total</strong></td>
          <td width="20%" style="padding: 5px 20px 5px 5px; font-size: 20px; font-family: arial; text-decoration-line: underline; text-decoration-style: double;;">
              <strong style="text-decoration-line: underline; text-decoration-style: double;">
                <%= number_to_currency(@rent.total, unit: 'BDT. ') %>
              </strong>
              <hr style="height:1px;border-width:0;color:gray;background-color:#000; margin: 1px;">
              <hr style="height:1px;border-width:0;color:gray;background-color:#000; margin: 2px;">
          </td>
        </tr>
    </tbody>
  </table>

  <hr style="height:1px;border-width:0;color:gray;background-color:#ddd">
  <hr style="height:1px;border-width:0;color:gray;background-color:#ddd">

  <%# Mode of payment %>
  <table width="100%" style="margin: 10px;">
    <tbody>
        <tr class="mb-0">
            <td style="padding: 8px; font-size: 20px; font-family: arial">Mode Of Payment: <strong><span class="text-uppercase"><%= @rent.paymentmode %></span></strong></td>
        </tr>
        
        <tr class="content">
            <td>
            <%if @rent.bank? %>
                Bank Name : <%= @rent.bankname %>
                <br>
            <% end %>
            <% if @rent.accountnumber? %>
            Account Number : <%= @rent.accountnumber %>
                <br>
                <% end %>
            <% if @rent.refnumber? %>
                Reference Number : <%= @rent.refnumber %>
                <br>
            <% end %>
            </td>
        </tr>
    </tbody>
  </table>

  <% if @rent.note? %>
    <hr style="height:1px;border-width:0;color:gray;background-color:#ddd">
    <div style="margin: 20px; font-size: 20px; font-family: arial">
        <p class="card-text"><%= @rent.note %></p>
    </div>
  <% end %>

</div>


<%# Signature %>
<table width="100%" style="margin-top: 150px;">
  <tbody>
      <tr>
        <td style="padding: 8px; font-size: 20px; font-family: arial;"><strong><span class="text-uppercase">Authorized Sign</span></strong></td>
        <td style="padding: 8px; font-size: 20px; font-family: arial; float: right;"><strong><span class="text-uppercase">Receiver Sign</span></strong></td>
      </tr>
  </tbody>
</table>