<section class="form-signin w-100 m-auto text-center py-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= link_to root_path do %>
      <%= image_tag "logo-new.png", alt: 'logo', width: 175, height: 30, class: 'mb-4' %>
    <% end %>
    
    <div class="form-floating">
      <%= f.text_field :login, class: 'form-control', id: 'floatingInput', placeholder: 'name@example.com' %>
      <%= f.label :login %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "floatingPassword", placeholder: "Password" %>
      <%= f.label :password %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'w-100 btn btn-lg btn-primary' %>
    </div>

    <div class="mt-5">
      <%= render "devise/shared/links" %>
    </div>
    
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  <% end %>
</section>