<div id="<%= dom_id property %>">
  <div class="row">
    <div class="col">
      <p>
        <strong>Name:</strong>
        <%= property.name %>
      </p>
      <p>
        <strong>Land Lord:</strong>
        <%= property.landlord %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= property.description %>
      </p>
    </div>
    <div class="col">
      <p class="mb-1">
        <strong>Address:</strong>
      </p>
        <% if property.addrline1? %>
          <%= property.addrline1 %>,
        <% end %>
        <% if property.addrline2? %>
          <%= property.addrline2 %>,
          <br>
        <% end %>
        <% if property.zipcode? %>
          <%= property.zipcode %>,
        <% end %>
        <br>
        <% if property.city? %>
          <%= property.city %>,
        <% end %>
        <%= property.country_name %>
      <p>
        <strong>Mobile #</strong>
        <%= property.contactno %>
      </p>     
    </div>
  </div>
</div>