<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>
  
  <p>
    <strong>Land Lord:</strong>
    <%= property.landlord %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Addrline 1:</strong>
    <%= property.addrline1 %>
  </p>

  <p>
    <strong>Addrline 2:</strong>
    <%= property.addrline2 %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= property.zipcode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= property.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= property.country_name %>
  </p>

  <p>
    <strong>Contactno:</strong>
    <%= property.contactno %>
  </p>

</div>
