<main class="main h-100" id="top">
  <%= render 'shared/backend/page_header' %>

  <seaction>
    <div class="container">
      <div class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-header bg-white shadow-sm">
              <h3 class="card-title fs-6 text-muted my-2">Property List</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <% @properties.each do |property| %>
                <div class="col-md-6">
                  <div class="card text-start shadow-sm border-0 my-3 bg-light">
                    <div class="card-body">
                      <h4 class="card-title">
                        <%= link_to property.name, admin_property_path(property) %>
                      </h4>
                      <p class="card-text">
                        <div class="fs-8">
                          <i class="fa-solid fa-building-user me-2"></i>
                          <%= property.landlord %>
                        </div>

                        <div class="fs-8">
                          <i class="fa-solid fa-map me-2"></i>
                          <%= property.addrline1 %>,
                          <%= property.city %>,
                        </div>

                        <div class="fs-8">
                          <i class="fa-solid fa-phone me-2"></i>
                          <%= property.contactno %>
                        </div>
                      </p>
                      <hr>

                      <div class="row fs-8">
                        <div class="col">
                          Total Units
                          <span class="badge bg-secondary"><%= property.units.count  %></span>
                        </div>
                        <div class="col">
                          Occupied
                          <span class="badge bg-success"><%= property.units.occupied.count  %></span>
                        </div>
                        <div class="col">
                          Vacent
                          <span class="badge bg-danger"><%= property.units.vacent.count  %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </seaction>
</main>
